/* cores:
SPOTIFY  #29CE61, #999399, #29CE61
APPLE MUSIC  #ED334B, #999399, #ED334B
DEEZER #9E0005,#b6b908, #999399, #b41e94,  #1815c9
YOUTUBE #FF0000, #999399, #FF0000
ITUNES #E84BCB, #999399, #E84BCB
ANGHAMI #7B53D5, #999399, #7B53D5
  */

.streamings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.boxmusic {
    width: 100%;
    height: 100%;
    padding-left: 80px;
    padding-right: 80px;
}

img.musicspotify {
    min-width: 100px;
    max-width: 100px;
}

img.musicapplemusic {
    min-width: 80px;
    max-width: 80px;
}

img.musicdeezer {
    min-width: 80px;
    max-width: 80px;
}

img.musicyoutube {
    min-width: 100px;
    max-width: 100px;
}

img.musicitunes {
    min-width: 100px;
    max-width: 100px;
}

img.musicanghami {
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 100px;
    max-width: 100px;
}


img.musictidal {
    min-width: 90px;
    max-width: 90px;
}

