/* cores:
SPOTIFY  #29CE61, #999399, #29CE61
APPLE MUSIC  #ED334B, #999399, #ED334B
DEEZER #9E0005,#b6b908, #999399, #b41e94,  #1815c9
YOUTUBE #FF0000, #999399, #FF0000
ITUNES #E84BCB, #999399, #E84BCB
ANGHAMI #7B53D5, #999399, #7B53D5
  */

.streamings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.boxmusic {
    width: 100%;
    height: 100%;
    padding-left: 80px;
    padding-right: 80px;
}

img.music100 {
    min-width: 100px;
    max-width: 100px;
}

img.music80 {
    min-width: 80px;
    max-width: 80px;
}

#musicanghami {
    padding-top: 20px;
    padding-bottom: 20px;
}
